<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('../partials/head') %>
  
   
    <link rel="stylesheet" href="/css/StyleIndex2.css">
    <title>SobreNosotros</title>
</head>

<body>
  <nav class="Navegador">
    <%-include('../partials/nav') %>
  </nav>

  <%-include('../partials/desplegablesNav') %>
  
    <section class="QuienesSomos-NuestrosLocales">
      <div class="RecuadroFraseQuienesSomos"> 
        <h1 class="FraseQuienesSomos" >QUIÉNES SOMOS</h1>
      </div> 
      <br>
      
      <div class="RecuadroTextoQuienesSomos"> 
        <h1 class="TextoQuienesSomos" >Somos una compañía de retail deportivo y urbano con más de 40 años de historia en el mercado Argentino, comercializando una amplia variedad de productos de marcas de primera línea.<br> <br>    Common Clothes nace como con la idea de generar un espacio de moda inspirada en el deporte y la cultura para nuestros exigentes clientes, brindándoles una variada oferta de calzados e indumentaria de las mejores marcas de deportes y de moda, todo en un mismo lugar, de manera de poder combinarlas y armar un look urbano, canchero y confortable para transitar todo el día.<br>  <br>   Common Clothes es una marca viva, que se adapta al ritmo de la ciudad, por eso cambiamos constantenmente de colores y texturas en nuestro logo, porque somos dinámicos, diversos, transgresores y nos gusta estar en sintonía con la tendencia del momento, igual que nuestros clientes!</h1>
      </div> 
      <div class="RecuadroFraseNuestrosLocales"> 
        <h1 class="FraseNuestrosLocales" >NUESTROS LOCALES</h1>
      </div> 
      <div Class="EspacioNuestrosLocales">
        <div class="RecuadroMapaNuestrosLocales"> 
          <div class="MapaNuestrosLocales" >
             <iframe class="Mapa1NuestrosLocales" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d410.6410638742324!2d-58.535109301566735!3d-34.57561469857994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb77399408d91%3A0x4c3573c19b66f245!2sDelvadarosrl!5e0!3m2!1ses-419!2sar!4v1643153687917!5m2!1ses-419!2sar" width="500" height="450" style="border:2 transparent 0.5;" allowfullscreen="" loading="lazy"></iframe>
             <iframe class="Mapa2NuestrosLocales" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1161.0044249437478!2d-58.416846566292385!3d-34.60880371574281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc815f87a861f%3A0x990f65042b7ef70c!2sAv.%20Rivadavia!5e0!3m2!1ses-419!2sar!4v1643154423679!5m2!1ses-419!2sar" width="500" height="450" style="border:2 transparent 0.5;" allowfullscreen="" loading="lazy"></iframe> 
          </div>
            
            <a class="Direccion1MapaNuestrosLocales" >           
              <input type="radio"  id="Direccion1Checked" name="my-input">Belgrano 3446, San Martin, GBA
            </a>  
            <a class="Direccion2MapaNuestrosLocales">
              <input type="radio"  id="Direccion2Checked" name="my-input">Av. Díaz Vélez 3577, CABA
            </a>
        </div>
        <div class="RecuadroCarrouselNuestrosLocales"> 


          <div id="carousel2ExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel2ExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carousel2ExampleIndicators" data-slide-to="1"></li>
              
            </ol>
            <div class="carousel-inner" id="carousel2-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/imagenes/Local1B.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/imagenes/Local3B.jpg" alt="Second slide">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carousel2ExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel2ExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div id="carousel3ExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel3ExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carousel3ExampleIndicators" data-slide-to="1"></li>
              
            </ol>
            <div class="carousel-inner" id="carousel2-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/imagenes/Local2B.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/imagenes/Local4B.jpg" alt="Second slide">
              </div>
              
            </div>
            <a class="carousel-control-prev" href="#carousel3ExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel3ExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          


        </div>
      </div>
    
    
    </section>

    
    
    <%-include('../partials/footer') %>
         
      
    
    
    <script src="Scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>