.App {
    font-family: sans-serif;
    text-align: center;
}
body{
  background-color: rgb(230, 230, 229);
  box-sizing: border-box;
}
                    /* NAVEGADOR */
.Navegador{
  height: 110px;
  width: 101%;
  margin-top: -8px;
  margin-left: -7px;
  position: fixed;
  z-index: 1;
}
.NavegadorSuperior {
  height: 65px;
  width: 100.1%;
  background-color: rgb(233, 154, 6);
  display: inline-flex;
  z-index: 1; /*Queda adelante de todo*/
}
.LogoSuperior {
  height: 50px;
  width: 50px;
  position: absolute;
  display: flex;
  margin-top: 7px;
  margin-left: 30px;
  background-color: grey;
}
.FraseLogoSuperior{
  font-family: 'Mochiy Pop P One', sans-serif;
  color: rgb(17, 14, 9);
  display: flex;
  inline-size: 10px; 
  overflow-wrap: break-word; 
  margin-top: 5px;
  margin-left: 85px;
}
.NavegadorInferior {
  height: 45px;
  width: 100.1%;
  margin-top: vh;
  margin-left: px;
  z-index: 1; /*Queda adelante de todo*/
  display: inline-flex;
  justify-content: space-evenly;
  background-color: rgb(47, 47, 48);
  border-bottom: 1px solid rgb(233, 154, 6);
}
.hamburguesa{
  height:45px;
  width: 10px;
  display: none;
  position: absolute;
  margin-left: -90%;
}
.LogoHamburguesa{
height: 33px;
width: 90px;
margin-top: 5px;
}
.DesplegablesNavegadorInferior {
  height: 45px;
  width: 100vw;
  margin-left: 30vw;
  margin-top: 0px;
  box-sizing: content-box;
  flex-direction: row;
  justify-items: space-evenly;
  row-gap: 5%; 
  background-color: rgb(237, 95, 95) solid 0px; 
}
.RecuadroDesplegable {
  height: 45px;
  width: 150px;
  padding-left: 0px;
  list-style: none;
  text-align:center;
  box-sizing: content-box;
  display: inline-flex;
  flex-wrap: wrap;
  border: 0px solid black;
  justify-content: space-between;
}
.NavegadorProductos{
  font-weight: 800;
  font-size: 1.2rem;
  color: rgb(233, 154, 6);
}
.NavegadorNovedades{
  color: rgb(233, 154, 6);
  font-weight: 800;
  font-size: 1.2rem;
}
.NavegadorSobreNosotros{
  color: rgb(233, 154, 6);
  font-weight: 800;
  font-size: 1.2rem;
}
.RecuadroBuscador{
  display: flex;
  flex-direction: row;
}
.Buscador {
  height: 25px;
  width: 40vw;
  margin-left: 20vw;
  margin-top: 25px;
  font-style: italic;
  display: inline-flex;
  border-style: hidden;
  background-color: gainsboro;    
}
.BotonBuscar {
  height: 25px;
  width: 70px;
  margin-top: 25px;
  margin-left: 5px;
  display: inline-flex;
  font-size: 16px;
  background-color: rgb(230, 205, 253);
}
.hamb_desplegable{
  height: 150px;
  width: 110px;
  margin-top: 76px;
  display: none;
  /* position: fixed; */
  box-sizing: content-box;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(47, 47, 48);
  color: rgb(233, 154, 6);
  border: 2px  solid rgb(233, 154, 6);
  z-index: 1;
}
.hamb_submenu{
  color:white;
  display: inline-flex;
  margin-left: -10px;
  z-index: 1;
}
.ListaDesplegableProductos{
  height: 100px;
  width: 560px;
  margin-top: 78px;
  margin-left: 20vw;
  z-index: 1;
  position: fixed; 
  box-sizing: content-box;
  justify-content: space-evenly;
   display:none;   
  /* display: grid;   */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px; 
  border: 1px solid rgb(233, 154, 6);  
}
.Productos_submenu{
  height: 100px;  
  width: 150px;
  margin-top: 0px;
  margin-left: -13%;
  display: inline-flex;  
  flex-direction: column;
  list-style: none;
  font-size: 15px;
  background-color: rgb(47, 47, 48);
}
  
                      /* INDEX */
.carousel{
  height: 80%;
  width: 62vw;
  display: flex;
  margin:90px 0px 2% 18%;
}
.carousel-inner{
  height: 80%;
  width: 62vw;
  display: flex;
}
#carouselExampleIndicators{
  z-index: 0;
}
.RenglonEspacio1{
  height: 50px;
  width: 100%;
  margin-top: 0px;
  display: flex;
  border: 1px solid rgb(203, 248, 4);
  background-color: rgb(250, 145, 65);
  align-items: center;
}
.QueEstasBuscandohoy{
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vw;
  font-weight: 600;
  margin-left: 22vw;
}
.SectorImagenesProductos{
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.RecuadroImagenProductos{
  height: 200px;
  width: 200px; 
  margin: 10px 10px 10px 10px;
  box-shadow: 2.5px 2.5px 1px 1px rgba(220, 218, 218, 0.522);
}
.CardVestimenta{
  height: 200px;
  width: 155px;
  padding: 10px 10px 10px 10px;
  margin-left: 2vw;
  display: inline-flex;
  background-color: rgba(255, 188, 43, 0.2);
  box-shadow: 2.5px 2.5px 1px 1px rgba(194, 194, 194, 0.522);
}
.ImagenVestimenta{
  height: 165px;
  width: 100%;
}
.DescripcionVestimenta{
  margin-top: 170px;
  margin-left: 20px;
  font-size: small;
  position: absolute;
}
.PrecioCard{
  margin-top: 190px;
  margin-left: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #097cae;
  position: absolute;
}
.ImagenProductos{
  height: 200px;
  width: 200px;
  display: flex;
}
.ImagenProductos:hover{
  height: 210px;
  width: 210px;
}
.ContenedorSlidersMasVendidos{
  height: 1100px;
  width: 100%;
  margin-left: -2vw;
  margin-top: 30px;
  padding: 10px 10px 10px 10px;
  border: 0px black solid;
  display: flex;
  align-items: center;
  flex-direction:column;
}
.RemarcoTextoMasVendidos{
  height: 50px;
  width: 101.5%;
  margin: 0vw 0vw 0vw 4vw;
  background-color: rgba(0, 0, 0, 0.741);
  display: flex;
}
.LoMasPopularTexto{
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  color: rgb(253, 138, 61);
  margin: 05px 0vw 0vw 30%;
}
.FlechaAnterior{
  height: 40px;
  width: 30px;
  margin-top: 60px;
  margin-left: 10vw;
  margin-right: 0;
  display: inline-flex;
  justify-self: start;
  transform: rotate(180deg);  
}
.ContenedorSliderBuzosMasVendidos{
  height: 250px;
  width: 100%;
  margin-left: 5vw;
  margin-top: 0px;
  border: 0px black solid;
  display: inline-flex;
  justify-items: space-between 20px;
  flex-direction:row;
}
.CardPopular{
  height: 90%;
  width: 165px;
  padding: 10px 10px 10px 10px;
  margin-left: 2vw;
  display: inline-flex;
  background-color: rgb(230, 230, 229);
  box-shadow: 2.5px 2.5px 1px 1px rgba(194, 194, 194, 0.522);   
}
.ImgPopularSlider{
  height: 165px;
  width: 100%;
  cursor: pointer;
}
.DescripcionCardPopular{
  margin-top: 170px;
  margin-left: 20px;
  font-size: small;
  position: absolute;
}
.Precio{
  margin-top: 190px;
  margin-left: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #097cae;
  position: absolute;
}
.FlechaSiguiente{
  height: 40px;
  width: 30px;
  margin-top: 60px;
  margin-left: 3vw;
  display: inline-flex;
}
.FlechaSiguiente4{
  height: 40px;
  width: 30px;
  margin-top: 60px;
  margin-left: 3vw;
  display: inline-flex;
}
.ContenedorSliderRemerasMasVendidas{
  height: 250px;
  width: 100%;
  margin-left: 5vw;
  margin-top: 0px;
  border: 0px solid black transparent;
  display: inline-flex;
  flex-direction:row;
}
.ContenedorSliderPantalonesMasVendidos{
  height: 250px;
  width: 100%;
  margin-left: 5vw;
  margin-top: 0px;
  border: 0px black solid;
  display: inline-flex;
  flex-direction:row;
}
.ContenedorSliderZapatillasMasVendidas{
  height: 250px;
  width: 100%;
  margin-left: 5vw;
  margin-top: 0px;
  border: 0px black solid;
  display: inline-flex;
  flex-direction:row;
}

                      /* QUIENES SOMOS */
.QuienesSomos-NuestrosLocales{
  height:100%;
  width: 100%;
  margin-top: 70px;
  display: inline-flex;
  flex-direction:column;
}
.FraseQuienesSomos{
height: 5vw;
width: 25vw;
margin: 20px 0px 0px 35%;
font-size: 3vw;
display: inline-flex;
color: rgb(233, 154, 6);
}
.TextoQuienesSomos{
  display: inline-flex;
  font: 2vw sans-serif;
}
.EspacioNuestrosLocales{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.FraseNuestrosLocales{
  height: 100px;
  width: 740px;
  margin: 20px 0px 0px 35%;
  font-size: 3vw;
  display: inline-flex;
  color: rgb(233, 154, 6);
}
.RecuadroMapaNuestrosLocales{
  height: 550px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Mapa1NuestrosLocales{
  /* display:inline-flex; */
  display:none;
  margin: 0px 0px -50px 0px;
}
.Mapa2NuestrosLocales{
  display:inline-flex;
  /* display:none; */
  margin: 0px 0px -50px 0px;
}
#Direccion1Checked{
height: 15px;
width: 15px;
margin: 5px 0px 0px 230px;
position: absolute;

}
#Direccion2Checked{
height: 15px;
width: 15px;
margin: 5px 0px 0px 185px;
position: absolute;
}
.RecuadroCarrouselNuestrosLocales{
  height: 100%;
  width: 600px;
  margin: 0px 0px 0px 3vw;
  display: inline-flex;
}
#carousel2ExampleIndicators{
  height:100%;
  width: 600px;
  /* display:flex;  */
  display: none; 
  margin: 0px 0px 0px 0px;
  z-index: 0;
}
#carousel3ExampleIndicators{
  height:100%;
  width: 600px;
  display:flex; 
  /* display: none; */
  margin: 0px 0px 0px 0px;
  z-index: 0;
}
#carousel2-inner{
  height:100%;
  width: 100%;
}
                         /* NOVEDADES */
.FraseNovedades{
  height: 5vw;
  width: 25vw;
  margin: 100px 0px 0px 40%;
  font-size: 3vw;
  display: inline-flex;
  color: rgb(233, 154, 6);
}
.EspacioCardsNovedades{
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}
.RecuadroFraseYCard{
  height: 29vw;
  width: 35.3vw;
  margin: 5vw 0px 10px 8vw;
}
.CardImagenNovedades{
  height: 26vw;
  width: 35vw;
  margin: 10px 0px 10px 0px;
  background-color: whitesmoke; 
}
.ImagenCardNovedades{
  height: 26vw;
  width: 35vw;
}
.LoQueSeViene{
  font-size: 2.5vw;
  margin: 0px 0px 0px 7vw;
  color: rgb(233, 154, 6);
}
.OTOÑO{
  position: absolute;
  font-size: 3.5vw;
  margin: 7vw 0px 0px 12vw;
  color: rgb(177, 116, 3);
}
.EnOferta{
  font-size: 2.5vw;
  margin: 0px 0px 0px 11vw;
  color: rgb(233, 154, 6);
}
.EventosYParticipaciones{
  font-size:2vw;
  margin: 5px 0px 0px 4.5vw;
  color: rgb(233, 154, 6);
}
.TrabajosConAmigos{
  font-size: 2vw;
  margin: 5px 0px 0px 6.5vw;
  color: rgb(233, 154, 6);
}
.RecuadroSuscribiteInput{
  height:7vw;
  width: 75vw;
  display: flex;
  flex-direction: row;
  margin: 10px 0px 0px 9vw;
}
.correoinput-label{
  height: 5vw;
  width: 30vw;
  font-size: 2vw;
  margin: 0px 0px 0px 00vw;
}
.form-control{
  height:3vw;
  width: 50vw; 
  margin: 0px 0px 0px -5vw;
  font-size: 1.3vw;
}
.boton-agregar{
  height: 3vw;
  width: 10vw;
  display: inline-flex;
  font-size: 1.3vw;
  background-color: rgb(230, 205, 253);  
}
.boton-agregar:active{
  background-color:#005671
}


                       /* FOOTER */
.PieDePagina{
  height: 180px;
  width: 100%;
  margin-top: 0px;
  margin-left:0vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(47, 47, 48, 0.919);
}
.RecuadrosFooter{
  height: 180px;
  width: 100%;
  margin: 0vw 0vw 0vw 2vw;
  display:inline-flex;
  flex-direction: column;
}
.Footer1{
  font-size: 2vw;
  display:flex;
  flex-direction: column;
  color: white;
  margin-left: 2vw;
}
.Footer2{
  margin-left: -70px;
  margin-left: 0vw;
  font-size: 1.5vw;
  color: rgb(253, 138, 61);
}

@media (max-width:439px){
  .SectorImagenesProductos{
    height: 1000px;
    width: 100%;
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: blue;
  }
}
@media (max-width:519px){ 
  .BuzoPopular2{
    display:none;
  }
  .RemeraPopular2{
    display:none;
  }
  .PantalonPopular2{
    display:none;
  }
  .ZapatillaPopular2{
    display:none;
  }
}
@media (max-width:742px){ 
  .BuzoPopular3{
    display:none;
  }
  .RemeraPopular3{
    display:none;
  }
  .PantalonPopular3{
    display:none;
  }
  .ZapatillaPopular3{
    display:none;
  }
}
@media (max-width:768px){
  .DesplegablesNavegadorInferior{
    display: none;
  }  
  .hamburguesa {
    display: block;
  } 
  #hamb:checked + .hamb_desplegable{
    display:flex;
    position: fixed;
  }
  .ListaDesplegableProductos{
    display:none;
  }
  .Productos_submenu_sexo{
    display:none;
  }
  .RecuadroCarrouselNuestrosLocales{
    height: 100%;
    width: 501px;
  }
  #carousel2ExampleIndicators{
    height: 100%;
    width: 501px;
  }
  #carousel2-inner{
    height: 100%;
    width: 501px;
  }
}
@media (max-width:800px){
  .NavegadorProductos:hover +.ListaDesplegableProductos{
    display:inline-flex;
  }
  .NavegadorProductos:hover +.Productos_submenu{
    display: none;  
  }
  .NavegadorProductos:hover +.Productos_submenu_sexo{
    display:none;
  }
}
@media (max-width:879px){
  .SectorImagenesProductos{
    height: 400px;
  }
}
@media (max-width:975px){
  .BuzoPopular4{
    display:none;
  }
  .RemeraPopular4{
    display:none;
  }
  .PantalonPopular4{
    display:none;
  }
  .ZapatillaPopular4{
    display:none;
  }
}
@media (max-width:1158px){
  .RecuadroCarrouselNuestrosLocales{
    height: 100%;
    width: 62vw;
  }
  #carousel2ExampleIndicators{
    height:100%;
    width: 62vw;
  }
  #carousel3ExampleIndicators{
    height:100%;
    width: 62vw;
  }
  #carousel2-inner{
    height:100%;
    width: 62vw;
  }
}



