<input type="checkbox" name="hamb" id="hamb">           
  <ul class="hamb_desplegable">
      <li class="hamb_submenu"><a href="/CommonClothes/PagProdBuzos">Productos</a></li>
      <li class="hamb_submenu"><a href="/CommonClothes/Novedades">Novedades</a></li>
      <li class="hamb_submenu"><a href="/CommonClothes/SobreNosotros">SobreNosotros</a></li>
  </ul>

  <ul class="ListaDesplegableProductos">
    <ul class="Productos_submenu"><a href="/CommonClothes/PagProdBuzos">Buzos</a>
      <li class="Productos_submenu_sexo"><a href="#">Hombre</a></li>
      <li class="Productos_submenu_sexo"><a href="#">Mujer</a></li>
    </ul>
    <ul class="Productos_submenu"><a href="/CommonClothes/PagProdRemeras">Remeras</a>
      <li class="Productos_submenu_sexo"><a href="#">Hombre</a></li>
      <li class="Productos_submenu_sexo"><a href="#">Mujer</a></li>
    </ul>
    <ul class="Productos_submenu"><a href="/CommonClothes/PagProdPantalones">Pantalones</a>
      <li class="Productos_submenu_sexo"><a href="#">Hombre</a></li>
      <li class="Productos_submenu_sexo"><a href="#">Mujer</a></li>
    </ul>    
    <ul class="Productos_submenu"><a href="/CommonClothes/PagProdZapatillas">Zapatillas</a>
      <li class="Productos_submenu_sexo"><a href="#">Hombre</a></li>
      <li class="Productos_submenu_sexo"><a href="#">Mujer</a></li>
    </ul>    
  </ul>