<footer class="PieDePagina">
    <div class="RecuadrosFooter">
    <h1 class="Siguenos Footer1">Siguenos</h1>
    <li class="Footer2">Instagram</li>
    <li class="Footer2">Twitter</li>
    <li class="Footer2">Facebook</li>
    <li class="Footer2">Reddit</li>
    </div>
    <div class="RecuadrosFooter">
      <h2 class="ComoContactarnos Footer1">Cómo contactarnos</h2>
      <li class="Footer2">E-mail</li>
      <li class="Footer2">Dónde estamos</li>
      <li class="Footer2">Teléfonos</li>
    </div>
    <div class="RecuadrosFooter">
      <h1 class="Soporte Footer1"> Soporte</h1>
      <li class="Footer2">Preguntas Frecuentes</li>
      <li class="Footer2">Terminos</li>
      <li class="Footer2">Reddit</li>
    </div>
    <div class="RecuadrosFooter">
      <h1 class="ComprasOnline Footer1"> Compras Online</h1>
      <li class="Footer2">Formas de Pago</li>
      <li class="Footer2">Terminos y Condiciones</li>
      <li class="Footer2">Políticas de Cambio</li>
      <li class="Footer2">Arrepentimiento de Compra</li>
    </div>
    

    
  </footer>