<div class="NavegadorSuperior">
    <img class="LogoSuperior" src="/imagenes/LogoNav.jpg" alt="LogoDelNavegador" href="/CommonClothes/"/>
  <a Class="FraseLogoSuperior" href="/CommonClothes/"> COMMON CLOTHES </a>
  <div class="RecuadroBuscador">
    <input class="Buscador" maxlength="2048" id="Buscador name" type="text"
    aria-autocomplete="both" aria-haspopup="false"s autocapitalize="off"
    autocomplete="off" autocorrect="off" role="combobox" placeholder=" ¿Que estas Buscando?"
    spellcheck="false" title="" value="" aria-label="" />
    <input type="button" class="BotonBuscar" text="Buscar" name="Buscar" value=" Buscar"/> 
    
  </div>
</div>
  <div class="NavegadorInferior">
    <div class="hamburguesa">
      <label for="hamb">
        <img class= "LogoHamburguesa" src="/imagenes/Hamburguesa.png" alt="hamburguesa"></label>
    </div>

    <div class="DesplegablesNavegadorInferior">
      <div class="RecuadroDesplegable">
        
          <a class="NavegadorProductos" href="/CommonClothes/PagProdBuzos">Productos</a>
       
      </div>
      <div class="RecuadroDesplegable">
       
          <a class="NavegadorNovedades" href="/CommonClothes/Novedades" >Novedades</a>
        
      </div>
      <div class="RecuadroDesplegable">
        
          <a class="NavegadorSobreNosotros" href="/CommonClothes/SobreNosotros">Sobre Nosotros</a>
        
      </div>
    </div>
</div>
 
  
      
  